      <section class="register-info">
      <div class="container">
        <div class="row main">
            <div class="content-header">
                <h3 class="text-center">Change Password</h3>
              </div>
            <div class="main-content">
            <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value, $event)">        
                <div class="input-group" [ngClass]="{'has-error':!(complexForm.controls['oldpassword'].valid || complexForm.controls['oldpassword'].pristine)}">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                    <input type="password" class="form-control" placeholder="Enter your password" 
                            [formControl]="complexForm.controls['oldpassword']"  (keyup)="msgValidation=''">
                </div>
                <div [hidden]="!(complexForm.controls['oldpassword'].hasError('required') && complexForm.controls['oldpassword'].touched)" class="alert alert-danger">
                      Password is required.
                </div> 
                <div class="input-group" [ngClass]="{'has-error':!(complexForm.controls['newpassword1'].valid || complexForm.controls['newpassword1'].pristine)}">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                    <input type="password" class="form-control" placeholder="Enter your new password" 
                            [formControl]="complexForm.controls['newpassword1']"  (keyup)="msgValidation=''">
                </div>
                <div [hidden]="!(complexForm.controls['newpassword1'].hasError('required') && complexForm.controls['newpassword1'].touched)" class="alert alert-danger">
                      New password is required.
                </div> 
                <div class="input-group" [ngClass]="{'has-error':!(complexForm.controls['newpassword2'].valid || complexForm.controls['newpassword2'].pristine)}">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                    <input type="password" class="form-control" placeholder="Repeat your new password" 
                            [formControl]="complexForm.controls['newpassword2']"  (keyup)="msgValidation=''">
                </div>
                <div [hidden]="!(complexForm.controls['newpassword2'].hasError('required') && complexForm.controls['newpassword2'].touched)" class="alert alert-danger">
                      New password is required.
                </div> 
                <div [hidden]="!(complexForm.hasError('mismatchedPasswords') && complexForm.controls['newpassword2'].touched)" class="alert alert-danger">
                      New passwords are not the same.
                </div>  
                <div [hidden]="msgValidation == ''" class="alert alert-danger">
                      {{msgValidation}}
                </div>  
                <div class="form-group text-center">
                    <input type="submit"  class="btn btn-primary btn-lg btn-block restricted-button" value="Change Password">
                </div>
            </form>                
            </div>
          </div>
      </div>
      </section>
